[Desktop Entry]
Version=1.0
Name=Workflowy
Comment=Organize your brain
Exec=/usr/bin/google-chrome-unstable --app-id=koegeopamaoljbmhnfjbclbocehhgmkm
Terminal=false
Icon=google-chrome-unstable
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito

[Workflowy Shortcut Group]
Name=Workflowy
Exec=/usr/bin/google-chrome-unstable --app-id=koegeopamaoljbmhnfjbclbocehhgmkm
TargetEnvironment=Unity