[Desktop Entry]
Name=Gitter
Comment=Where developers come to talk
Exec={{ local_soft_dir }}/gitter/linux64/Gitter
Icon={{ local_soft_dir }}/gitter/linux64/logo.png
Terminal=false
Type=Application
Categories=Utility;
